greenColor = #91ce93
borderRadius = 40px

.sign-title
   color: greenColor
   text-align: center
   padding: 50px

.sign-container
   padding: 20px
   text-align: center

   input
      padding: 25px
      border-radius: borderRadius
      margin-right: 20px
      border: 1px solid #808080
      width: 300px

   button
      border: none
      background-color: greenColor
      color: white
      border-radius: borderRadius
      padding: 20px 45px
      font-size: 17pt
      transition-duration: 0.2s
      cursor: pointer

      &:hover
         background-color: #5eb360

      &:active
         background-color: #297d2b

@media (max-width: 700px)
   .sign-container
      input
         margin-right: 0
         margin-bottom: 20px

      p, a
         word-break: break-all
