greyColor = #666666
mainColor = #5b9fbe
greenColor = #91ce93
standardFont = 14ptx
baseUrl = '/ipns/QmRDVed784YwKrYAgiiBbh2rFGfCUemXWk3NkD7nWdstER/'

.order-sent-container
   background-image: url(baseUrl + 'img/order-sent/last-image.png')
   background-size: cover
   text-align: center
   height: 100%
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center

   h1
      color: white

   .order-sent-buttons-container
      text-align: center
      margin-bottom: 100px

      .order-sent-back
         background-color: white
         color: mainColor
         border: none
         padding: 20px 50px
         border-radius: 40px
         font-size: 18pt
         margin-bottom: 20px
         margin-right: 20px

         &:hover
            background-color: rgb(182, 182, 182)
            color: white

         &:active
            background-color: rgb(103, 103, 103)
            color: white

      .order-sent-login
         background-color: mainColor
         color: white
         border: none
         padding: 20px 50px
         border-radius: 40px
         font-size: 18pt

         &:hover
            background-color: #31799a

         &:active
            background-color: #184e67
