.main-container{
   width: 1000px;
}
.main-form{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.notification{
   padding: 10px;
   background-color: rgb(0, 163, 255);
   box-shadow: 0px 0px 5px 0px grey;
   color: white;
   border-radius: 10px;
}
label{
   margin: 10px 0;
}
input, select{
   margin: 0 10px;
}
